@media (max-width: 1097px), (orientation: portrait){
    .eng{
        right: 0vh;
    }

}

@media (max-width: 975px), (orientation: portrait){
    nav ul a{
        margin-left: 14vh;
    }
    nav{
        width:100%;
        margin-left:0%;
    }

}
@media (max-width: 780px), (orientation: portrait){
    nav ul a{
        margin-left: 10vh;
    }

}


@media (max-width: 650px), (orientation: portrait){
    .hoja{height: 100%;}


}

@media print {
    #intro{
        display: none;
    }
 
 }
