.contenedor{
    height: 85vh;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
}

.cartel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  
.letrero{
    border-radius:  25px;
    border: 5px dotted var(--color-gold);
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 2vh;
    margin-top: 3vh;
    /*background-image: url(../img/fondo2.png); */
    background-size:100% ;
    animation: luces 1s infinite linear;
}

#eng6{
    width: 10vh;
    position: relative;
    left: 11vh;
    bottom: 7vh;
    animation: engranajes1 7s infinite linear;
}
#eng8{
    width: 5vh;
    position: relative;
    left: 6vh;
    bottom: 2vh;
    animation: engranajes1 7s infinite linear;
}
#eng7{
    width: 10vh;
    position: relative;
    top: 7vh;
    right: 62vh;
    animation: engranajes1 7s infinite linear;
}

/* Tuercas*/
.tuercas{
    width: 100%;
    height: 100%;
    position: relative;
    left: 15vh;
    overflow: hidden;
}
.eng{
    width: 40vh;
}
#eng1{
    width: 30vh;
    position: relative;
    top: 4vh;
    left: 4vh;
    animation: engranajes1 7s infinite linear;
}
#eng2{
    width: 35vh;
    animation: engranajes2 7s infinite linear;
}
#eng3{
    animation: engranajes2 7s infinite linear;
}
#eng4{
    width: 30vh;
    position: relative;
    bottom: 15vh;
    left: 2vh;
    animation: engranajes1 7s infinite linear;
}
#eng5{
    position: relative;
    background-image: url(../../img/engranaje4.png);
    background-size: 100% 100%;
    width: 50vh;
    height: 50vh;
    bottom: 60vh;
    left: 10vh;
    display: flex;
    align-items: center;
    animation: engranajes1 7s infinite linear;
}
#Avatar{
    border-radius: 100%;
    width: 70%;
    height: 70%;
    margin-left: 15%;
    animation: engranajes1 7s infinite linear reverse;
}
